
@model IEnumerable<BookingWebApp.Domain.Entities.Villa>
<div class="w-100 card border-0 p-4">
    <div class="card-header bg-success bg-gradient ml-0 py-3 ">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Villa List</h2>
            </div>
        </div>
    </div>
    <div class="card-body border p-4">
        <div class="row pb-3">
            <div class="col-6 offset-6 text-end">
             
                <a asp-controller="Villa" asp-action="Create" class="btn btn-secondary">   <i class="bi bi-plus-circle-dotted p-1"></i>Add New Villa</a>
            </div>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr class="text-center">
                    <th>Name</th>

                    <th>
                        Price
                    </th>
                    
                    <th>
                        Sqst
                    </th>
                    <th>
                        Occupancy
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr class="text-center">
                        <td>@obj.Name</td>

                        <td>@obj.Price</td>
                        <td>@obj.Sqft</td>
                        <td>@obj.Occupancy</td>
                        <td>
                            <div class="w-75"  role="group">
                                <a asp-action="Update" asp-controller="Villa" asp-route-villaId="@obj.Id" class="text-center btn btn-warning mx-2"><i class="bi bi-pencil"></i></a>
                                <a asp-action="Delete" asp-controller="Villa" asp-route-VillaId="@obj.Id" class="text-center btn btn-danger "><i class="bi bi-trash3"></i></a>
                            </div>
                        
                            
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
